*{
    margin: 0;
    padding: 0;
}
body{
    width:450px;
    margin: 10px auto;
    background: rgba(85, 216, 33, 0.4);
}
header{
    font:bold 36px Arial, Helvetica,sans-serif;
    background:linear-gradient(90deg, 
    rgba(89, 120, 211, 0.6)
    ,rgba(200, 180, 291, 0.6));
    color: rgba(250, 18, 57, 0.671);
    text-transform: uppercase;
    width: auto;
}
section p{
    font:bold 24px Arial,helvetica,sans-serif;
    background:rgb(170, 168, 168);
    border: rgba(200, 180, 291, 0.6) 3px solid;
    color: rgba(26, 13, 7, 0.986);
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
}
ul{
    list-style-type: none;
    display: block;
}
#option1,#option2,#option3{
    display:none;
    border-radius: 15px;
    font:bold 24px Arial,helvetica,sans-serif;
    background:rgb(9, 9, 255);
    border: rgba(200, 180, 291, 0.6) 3px solid;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
}


#start{
    font: bold 24px Arial,helvetica,sans-serif ;
    box-shadow: 3px 3px 2px grey;
    display: block;
    width: 300px;
    padding: 10px;
    background: rgba(10,10, 256, 0.4);
    margin: 10px auto;
    border-radius: 13px;
     
}
#start:hover{
    
    box-shadow: 6px 5px 5px grey;
    background: rgba(0,0, 256, 1);   
}
header #score{
    display: inline-flex;
}
@media (max-width:400px){
    body{
        width:100%;
        margin: 5px 0;
    }
h1, p{
    font:bold 30px Arial, Helvetica,sans-serif;
    width: 80%;
    }
section p,#start{
    font:bold 18px Arial, Helvetica,sans-serif;
    width: 75%;
    margin-right: auto;
    margin-left:auto;
    }
 #option1,#option2,#option3{
     width: 50%;
     font-size: medium;
 }

}