body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #1B1711;
    display: flex;
    color: white;
    padding: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.options{
    display:flex;
    justify-content: space-evenly;
}
.options li{
    list-style-type: none;
    margin-right: 20px;
}
a:link{
    color: rgb(253, 250, 250);
    text-decoration: none;
}
.order{
    background: red;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    padding:8px 30px;
    font-size: x-large;
}
.Sign-in{
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    background: rgb(241, 11, 11);
    box-shadow: rgb(151, 139, 139);
    min-width: 120px;
    padding: 8px 2px;
    z-index: 1;
    text-align: center;
}
.Sign-in li{
    list-style-type: none;
    margin-bottom: 10px;
}
#log-in,#register{
    background-color: red;
    padding: 10px;
    position: absolute;
    right:-200px;
    border-radius: 10px;
    opacity: 0;
    transition:right 500ms ease-out 1s;
}
#log-in input,#register input{
    margin-bottom: 15px;
}
.order:hover  .Sign-in{
    display: block;
}
.Shop{
    background: url("food-picture1.jpg") 10px 20px/100% no-repeat scroll;
    height: 600px;
    padding: 300px 30% 0px 20% ;
}
.Shop div{
    position: absolute;
    text-align: center;
    color: white;
    font-size: xx-large;
}
.About-us{
    text-align: center;
}
.About-us div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
footer{
    color: white;
    font-size: x-large;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: url("food-picture2.jpg") 1px 5px/100% 100% no-repeat scroll;
}
h3{
    text-align: center;
    margin-bottom: 0;
}